// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
$navbar-default-bg: #535353;
$faded-top-line: #eaeaea;
$logo-color: white;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  color: $logo-color;
  float: left;
  font-size: 1.7em;
}

#logo:hover {
  color: $logo-color;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: orange;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('jumbo_background.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: $logo-color;
  margin-bottom: 30px;
  text-align: center;
}

.btn-xlarge {
  font-size: 1.7em;
}

.article-meta-details{
  border-top: 1px solid $faded-top-line;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid $faded-top-line;
  padding-top: 5px;
}


.description {
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid $faded-top-line;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid $faded-top-line;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
